h1 {
    color: red;
}

input {
    width: 300px;
}

.text_label {
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

form {
    width: 418px;
    
}

.request_access_button {
    background: url('../images/orange.png') no-repeat;
    /* max-width: 40%;
    max-height: auto; */
    height: 300px;
    width: 300px;
}
.request_access_button:hover {
    background: url('../images/blue.png') no-repeat;
}
.request_access_button:active {
    background: url('../images/black.png') no-repeat;
}