body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 950px;
    padding: 0px 10px 0px 10px;
    margin: 0px auto 0px auto;
    border: 2px solid black;
}

p {
    font-size: 100%;
    text-indent: 15px;
}

li{
    font-size: 100%;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 125%;
}

img {
    height: 300px;
    display: block;
    margin: auto;
    border: 2px solid blue;
    box-shadow: -10px 10px 5px gray;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 90%;
}

figure {
    border: 2px solid green;
    border-radius: 25px;
    padding: auto;
}
